<!-- <input (keyup)="onUpdate($event)" (click)="onUpdate($event)"> -->
<div class="container">
  <div class="row">
    <div id="title">
      <span class="em em-ghost"></span> <span class="em em-egg"></span>
      <h1 >   Ghost Chef</h1>
    </div>
  </div>

  <div class="row ">
    <div class="topBar tools">

  <app-chef-switcher>
    Loading...
  </app-chef-switcher>

  <span class="pauseButton bigButton bg-pink" (click)="togglePause()">
    <span class="fa fa-play fa-1x" [ngClass]="{'hidden': !isAiPaused }"></span>
    <span class="fa fa-stop fa-1x" [ngClass]="{'hidden': isAiPaused }"></span>
  </span>

  <span class="recordButton bigButton bg-red" (click)="startRecording()">
    <span class="fa fa-circle fa-1x"></span>
  </span>
  </div>
</div>

  <div class="row">
    <div id="editor" [@collapsedChanged]="isCollapsed" [ngClass]="{'fullWidth': fullWidth, 'collapsed': !fullWidth}">

      <span *ngFor="let word of words; let i = index">
        <span
          class="word {{word.author}}"
          contenteditable="true"
          (keydown)="handleKeyEvent($event,'key',i)"
          (keydown.Enter)="handleKeyEvent( $event, 'Enter', i )"
          (keydown.ArrowLeft)="handleKeyEvent( $event, 'Arrow Left', i )"
          (keydown.ArrowUp)="handleKeyEvent( $event, 'Arrow Up', i )"
          (keydown.ArrowRight)="handleKeyEvent( $event, 'Arrow Right', i )"
          (keydown.ArrowDown)="handleKeyEvent( $event, 'Arrow Down', i )"
          (keydown.Space)="handleKeyEvent( $event, 'Space', i )"
          (keydown.BackSpace)="handleKeyEvent( $event, 'BackSpace', i )"
          (blur)="handleKeyEvent( $event, 'Blur', i )"
          (click)="handleKeyEvent( $event, 'Click', i )"
          [ngClass]="{
                      'entity': word.isEntity,
                      'attribute': word.isAttribute,
                      'isHighlighted': i==higlightedWord,
                      'isRelated': wordsRelatedToHighlighted.indexOf(i)!=-1,
                      'isNotRelated': higlightedWord!=-1 && wordsRelatedToHighlighted.indexOf(i)==-1 && i!=higlightedWord
                    }"
          (mouseover)="mouseOver($event, i)"
          (mouseout)="mouseLeave($event, i)"

            >{{word.word}}</span>
            <sup class="apex">{{word.dependencyEdge}}</sup>
            <sup class="apex">_{{word.dependencyType}}</sup>

        <!-- <span class="autocomplete" [hidden]="i!=focussedWordPosition">{{word}}</span> -->
      </span>
    </div>




    <app-side-slider >
      Loading...
    </app-side-slider>

  </div>







  <div class="row controls">
    <span class="pauseButton" (click)="togglePause()">
      <span class="fa fa-play fa-1x" [ngClass]="{'hidden': !isAiPaused }"></span>
      <span class="fa fa-stop fa-1x" [ngClass]="{'hidden': isAiPaused }"></span>
      autopilot
    </span>
    <span class="analyzeText" (click)="understandSentence()">
      <span class="fa fa-eyedropper fa-1x" ></span>
      analyze-text
    </span>
    <span class="addPreparation" (click)="addPreparation()">
      <span class="fa fa-edit fa-1x" ></span>
      add preparation
    </span>
    <span class="addIngredient" (click)="addIngredient()">
      <span class="fa fa-edit fa-1x" ></span>
      add ingredient
    </span>

    <span class="toggleSlider" (click)="toggleSlider()">
      <span class="fa fa-sliders fa-1x" ></span>
      toggleSlider
    </span>
    <!-- {{focussedWordPosition}} -->
  </div>
</div>
