  #editor {
      margin: auto;
      font-size: 2em;
      display: block;
      min-height: 50px;
      background-color: #eee;
  }

  .autocomplete{
    background-color: #aaaaaa;
  }

  .word{
    min-width: 40px;
    display: inline-block;
  }



  .word.attribute{
    border-bottom: 2px dashed yellow;
  }
  .word.entity{
    border-bottom: 2px solid yellow;
  }

  .word.machine{
    border-bottom: 2px solid green;
  }

  .pauseButton{
    .hidden{
    display: none;
    }
  }
