#title{
  /* Ghost_Chef: */
  color: #888;
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  margin-top: 20px;
  position: fixed;
  background-color: white;


  h1{
    padding: 0px 10px;
    font-size: 12px;
    display: inline-block;
  }
}

.topBar.tools{
  position: fixed;
  margin-top: 40px;
  width: 100%;
  display: block;
  max-width: 970px;
}


.recordButton.bigButton{
  float: right;
  margin-top: -45px;
}

.pauseButton.bigButton{
  float: right;
  margin-top: -45px;
  margin-right: 25px;


}

  #editor {
      float: left;
      font-size: 2em;
      display: block;
      //background-color: #eee;

      &.fullWidth{
        width: 100%;
      }

      &.collapsed{
        width: 70%;
      }
  }

  .autocomplete{
    background-color: #aaaaaa;
  }

  sup {
    top: -1.5em;
    font-size: 8px;
}

  .word{
    min-width: 40px;
    display: inline-block;

    &.attribute{
      border-bottom: 2px dashed yellow;

    }
    &.entity{
      border-bottom: 2px solid yellow;
    }

    &.machine{
      border-bottom: 2px solid violet;
    }

    &.isHighlighted{
      font-weight: bold;
      color:#000;
    }
    &.isRelated{
      font-weight: bold;
    }
    &.isNotRelated{
      color: #aaa;
    }


  }

  .controls{
  position: fixed;
  bottom: 20px;
  }



  .word.machine{
    border-bottom: 2px solid violet;
  }

  .pauseButton{
    .hidden{
    display: none;
    }
  }
