

.chef-switcher{
text-align: right;
width: 95%;
margin-top: -11px;
padding: 6px 8px;
}

.addChef{
  float: right;
  margin-top: -8px;
  margin-right: 0px;
  }

.active-chef-list{
  display: inline-block;
  margin-right: 10px;
  // float: right;
  .chef{
    display: inline-block;
    span{
      height: 36px;
      padding: 10px
    }
  }
}



.addChef-menu{
  right: 0px;
  text-align: right;
  float: right;
  min-width: 127px;
  padding: 0px;
  top: 36px;

  .dropdown-item{
    height: 36px;
    .inner{
      width: 100%;
      &.active{
        .icon{
          color: white;
        }
      }
    }
  }
}
