<div class="chef-switcher row">
  <div class="active-chef-list">
    <div class="chef">
      <span class="name bg-teal">
        You
      </span>
    </div>
    <div class="chef" *ngFor="let chef of chefs; let i = index">
      <span class="plus" *ngIf="chef.isActive">
        +
      </span>
      <span class="name bg-{{chef.color}}" *ngIf="chef.isActive" (click)="notifyChefClicked(chef)">
        {{chef.nation}}
        {{chef.name}}
      </span>
    </div>
  </div>

  <span class="addChef fa fa-plus fa-1x bigButton bg-grey" *ngIf="activeChef==null" (click)="$event.stopPropagation(); myDrop.open();" ></span>

  <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block addChef-menu">
    <!-- <button class="btn btn-outline" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button> -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <button *ngFor="let chef of chefs; let i = index" class="dropdown-item bg-{{chef.color}}" (click)="chef.toggleActive()">

        <div class="inner" [ngClass]="{'active': chef.isActive }">

          <span class="icon">{{chef.nation}}</span>

          <span class="name">
            {{chef.name}}
          </span>

        </div>

      </button>
    </div>
  </div>
</div>
