/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body,h1,h2,h3,h4,h4,h6,
p, span{
  font-family: 'Roboto', sans-serif;
}



.ui-slider{
  background-color: #EFEDED !important;
  height: 4px !important;
  margin-bottom: 30px !important;
  margin-top:10px !important;
  border: none !important;
}

.ui-slider .ui-slider-handle{
    height: 14px !important;
    width: 14px !important;
    background-color: #50E3C2 !important;
    top: -5px !important;
}


#editor{
  margin-top: 50px;
}
