/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body,h1,h2,h3,h4,h4,h6,
p, span{
  font-family: 'Roboto', sans-serif;
}



.ui-slider{
  background-color: #EFEDED !important;
  height: 4px !important;
  margin-bottom: 30px !important;
  margin-top:10px !important;
  border: none !important;
}

.ui-slider .ui-slider-handle{
    height: 14px !important;
    width: 14px !important;
    background-color: #50E3C2 !important;
    top: -5px !important;
}

#editor{
  margin-top: 130px;
max-height: 300px;
overflow: scroll;
}

.bigButton{
  border-radius: 20px;
      width: 20px;
      height: 40px;
      color: #fff;
      padding-top: 12px;
      padding-left: 5px;
      padding-right: 5px;
}

.bg-teal{
  background-color: #50D9E3
}
.bg-green{
  background-color: #50E3C2
}
.bg-yellow{
  background-color: #EADF54
}
.bg-pink{
  background-color: #D776EB
}
.bg-red{
  background-color: #FF533E
}
.bg-orange{
  background-color: #F6A623
}
