/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body,h1,h2,h3,h4,h4,h6,
p, span{
  font-family: 'Roboto', sans-serif;
}



.ui-slider{
  background-color: #EFEDED !important;
  height: 4px !important;
  margin-bottom: 30px !important;
  margin-top:10px !important;
  border: none !important;
}

.ui-slider .ui-slider-handle{
    height: 14px !important;
    width: 14px !important;
    background-color: #50E3C2 !important;
    top: -5px !important;
}

#editor{
  margin-top: 130px;
max-height: 300px;
overflow: scroll;
}

.bigButton{
  border-radius: 20px;
      width: 20px;
      height: 40px;
      color: #fff;
      padding-top: 12px;
      padding-left: 5px;
      padding-right: 5px;


      transition: opacity 1s;
}

.bg-teal{
  background-color: #50D9E3
}
.bg-green{
  background-color: #50E3C2
}
.bg-yellow{
  background-color: #EADF54
}
.bg-pink{
  background-color: #D776EB
}
.bg-red{
  background-color: #FF533E
}
.bg-orange{
  background-color: #F6A623
}


.faded{
  opacity: .5;
}

.yellow  .ui-slider .ui-slider-handle{
  background-color: #EADF54 !important;
}
.green  .ui-slider .ui-slider-handle{
  background-color: #50E3C2 !important;
}
.pink  .ui-slider .ui-slider-handle{
  background-color: #D776EB !important;
}
.teal  .ui-slider .ui-slider-handle{
  background-color: #50D9E3 !important;
}
.red  .ui-slider .ui-slider-handle{
  background-color: #FF533E !important;
}
.orange  .ui-slider .ui-slider-handle{
  background-color: #F6A623 !important;
}

.yellow.word{
  border-bottom: 2px solid #EADF54 !important;
}
.green.word{
  border-bottom: 2px solid  #50E3C2 !important;
}
.pink.word{
  border-bottom: 2px solid  #D776EB !important;
}
.teal.word{
  border-bottom: 2px solid #50D9E3 !important;
}
.red.word{
  border-bottom: 2px solid  #FF533E !important;
}
.orange.word{
  border-bottom: 2px solid  #F6A623 !important;
}
.white.word{
  border-bottom: 2px solid  #ffffff !important;
}
